gen
out
*.ear
*.iml
*.jar
*.log
*.nar
*.rar
*.war
*.zip
.idea
*.ctxt
*.class
*.tar.gz
.mtj.tmp/
.idea/shelf
hs_err_pid*
replay_pid*
.cursorrules
.idea/dictionaries
.idea/git_toolbox_prj.xml
.idea/git_toolbox_blame.xml
.idea/GitCommitMessageStorage.xml
