* {
    font-family: -apple-system, "Microsoft YaHei", sans-serif;
}

.footer__link {
    font-size: 12px;
}

/* note、warning、tip 标签的最大宽度设置 */
.prompt__wrapper  {
    width: 100%;
}

/* 禁用主题切换按钮 */
#webhelp-root > div > header > div > div > div.wh-header__switchers > button._main_joawza_17._modeClear_joawza_434._sizeS_joawza_92._alignIconLeft_joawza_77._dark_joawza_62._withIcon_joawza_119._withoutText_joawza_113 {
    display: none;
}

